:root {
    --primary-color: #8100B4;
    --dark-purple: #5a007d;
    --light-purple: #C786E0;
    --yellow: #FFC107;
    --black: #000000;
    --bg-light: #E0E0E0;
    --white: #ffffff;
    --border-gray: #ddd;
    --modal-overlay: rgba(0, 0, 0, 0.5);
   
}

/* Utilitaires de texte */
.purple-text { color: var(--primary-color); }
.yellow-text { color: var(--yellow); }

/* Utilitaires de boutons */
.btn-stats { background-color: var(--primary-color); }
.btn-delete { background-color: var(--yellow); color: black; }
.btn-edit { background-color: var(--black); }
.btn-add { background-color: var(--dark-purple); }

/* Police globale du site */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333; /* texte principal */
    line-height: 1.6;
    background-color: #f8f9fa; /* fond clair */
}

/* Titres */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* Boutons */
button, .btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* Liens de la navbar */
.navbar .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
}
