/* Section et Conteneur */
.tableau-section { padding: 20px; }

.table-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Structure du Tableau */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: var(--primary-color);
    color: white;
    padding: 12px;
    text-align: left;
}

td {
    border: 1px solid var(--border-gray);
    padding: 10px;
}

/* Images et Avatars dans les tableaux */
.avatar-small {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    object-fit: cover;
    display: inline-block;
    vertical-align: middle;
}

.table-img {
    margin-right: 10px;
}

/* Filtres des tableaux */
.filters-container {
    margin-top: -3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-label {
    font-size: 12px;
    font-weight: bold;
}

.filter-select {
    background-color: var(--light-purple);
    border: none;
    padding: 8px 15px;
    width: 130px;
    color: #333;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
}

/* Actions */
.table-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.actions-cell {
    display: flex;
    gap: 5px;
}