.dashboard-container {
   
    display: grid;
    grid-template-columns: 280px 1fr;
    min-height: 100vh;
}

.sidebar {
    background-color: var(--light-purple-bg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profil{
    text-decoration: none;
}


.brand { margin-bottom: 40px; font-weight: bold; font-size: 22px; color: var(--main-purple); }

.profile-box { text-align: center; margin-bottom: 30px; }
.profile-box .circle { width: 80px; height: 80px; border-radius: 50%; margin: 0 auto 10px; border: 3px solid var(--white); }

.sidebar-nav { width: 100%; flex-grow: 1; }
.nav-item {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: var(--text-dark);
    font-weight: 500;
    margin-bottom: 8px;
    border-radius: 0 25px 25px 0;
    transition: 0.3s;
}
.nav-item:hover{
        background-color: var(--main-purple);
    color: var(--white);
}
.nav-item.active {
    background-color: var(--main-purple);
    color: var(--white);
}

.logout-btn {
    background-color: var(--accent-yellow);
    border: none;
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}